body, 
ul,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
form, 
input, 
button,
p {
  margin: 0;
}

body {
  background: #f2f2f2;
  color: @default_text_color;
  font-size: 14px;
}

a {
  color: @default_text_color;
  text-decoration: none;
}

.el-breadcrumb__inner.is-link,
a {
  &:hover {
    color: @default_color !important;
  }
}

img, object, select, input, textarea, button {
  vertical-align: middle;
}

// 缩略图
.thumbnail{
  width: 50px;
  height: 50px;
}

.el-popover {
  text-align: center !important;
}

.el-loading-spinner {
  .path {
    stroke: @default_color !important;
  }
}

/***************菜单样式***************/
.el-menu {
  background: @header_bg;
  border: none;
  &:not(.el-menu--collapse) {
    width: @sidebar_width;
  }
  .el-submenu {
    &__title {
      color: white;
      &:hover, &:focus{
        background-color: fadeout(white, 95%);
      }
    }
    i {
      color: white;
    }
  }
}

// .el-menu--collapse {
//   width: @siderbar_width_fold;
// }

.el-menu-item {
  color: white;
  transition: none;
  &:hover, 
  &:focus, 
  &.is-active {
    background-color: transparent !important;
    border-right: 3px solid @default_color;
    color: @default_color;
    i {
      color: @default_color;
    }
  }
  i {
    color: white;
    display: inline-block;
    margin-right: 5px;
  }
}

// 文字提示
.el-tooltip {
  &:focus {
    outline: none;
  }
}

/*******************后台样式********************/
// 选项卡
.el-tabs--card > .el-tabs__header { 
  .el-tabs__ {
    &nav {
      border: none;
    }
    &item {
      &:hover {
      color: @default_color;;
      }
      &.is-active {
        color: @default_color;
        border-bottom-color: @default_color;
      }
    }
  }
}
// 列表
.el-table {
  th, td {
    text-align: center !important;
  }
}

.el-checkbox__inner {
  &:hover, .el-checkbox__input.is-focus & {
    border-color: @default_color !important;
  }
  .el-checkbox__input.is-checked & {
    background-color: @default_color !important;
    border-color: @default_color !important;
  }
}

.cell {
  display: -webkit-box;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  i {
    cursor: pointer;
    margin-right: 5px;
  }
}

// 按钮
.el-button {
  &:active,
  &:focus,
  &:hover {
    color: @default_color !important;
    border-color: @default_color !important;
  }
}

.el-button--primary {
  background-color: @default_color !important;
  border-color: @default_color !important;
  &:focus,
  &:hover{
    color: white !important;
  }
}

.el-button--danger {
  &:focus,
  &:hover{
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
    color: white !important;
  }
}

// 对话框
.el-dialog__headerbtn:hover .el-dialog__close {
  color: @default_color !important;
}

// 分页
.el-pagination.is-background {
  .el-pager {
    li {
      &:not(.disabled){
        &:hover {
          color: @default_color !important;
        }
        &.active {
          background-color: @default_color !important;
          color: white !important;
        }
      }
    }
  }
}

// 输入栏
.el-input__inner {
  &:focus {
    border-color: @default_color !important;
  }
}
