body, 
ul,
form, 
input, 
button,
p {
  margin: 0;
}

body {
  background: #f2f2f2;
  color: @default_text_color;
  font-size: 14px;
}

a {
  color: @default_text_color;
  text-decoration: none;
}

.el-breadcrumb__inner.is-link,
a {
  &:hover {
    color: @default_color !important;
  }
}

select, input, textarea, button {
  vertical-align: middle;
}

.pdt-hh {
  padding-top: @header_height;
}

.mg--20 {
  margin: -20px;
}

// 缩略图
.thumbnail{
  width: 50px;
  height: 50px;
}

.el-popover {
  text-align: center !important;
}

// Loading
.el-loading-spinner {
  .path {
    stroke: @default_color !important;
  }
  .el-loading-text {
    color: @default_color !important;
  }
}

// Dropdown
.el-dropdown-menu__item {
  &:focus, &:not(.is-disabled):hover {
    color: @default_color;
  }
}

// Bread
.bread {
  height: 40px;
  line-height: 40px !important;
  margin: 0 auto;
  width: @content_width;
}

// Form
.el-form-item__label {
  width: 5em;
}

// Radio
.el-radio__input {
  &.is-checked {
    & .el-radio__inner {
      background: @default_color !important;
      border-color: @default_color !important;
    }
    & + .el-radio__label {
      color: @default_color !important;
    }
  }
}

.el-radio__inner {
  &:hover {
    border-color: @default_color !important;
  }
}

// Collapse
.el-collapse-item {
  &__header {
    font-weight: 1000 !important;
  }
}
/***************菜单样式***************/
.el-menu {
  background: @header_bg;
  border: none;
  &:not(.el-menu--collapse) {
    width: @sidebar_width;
  }
  .el-submenu {
    &__title {
      color: white;
      &:hover, &:focus{
        background-color: fadeout(white, 95%);
      }
    }
    i {
      color: white;
    }
  }
}

// .el-menu--collapse {
//   width: @siderbar_width_fold;
// }

.el-menu-item {
  color: white;
  transition: none;
  &:hover, 
  &:focus, 
  &.is-active {
    background-color: transparent !important;
    border-right: 3px solid @default_color;
    color: @default_color;
    i {
      color: @default_color;
    }
  }
  i {
    color: white;
    display: inline-block;
    margin-right: 5px;
  }
}

// 文字提示
.el-tooltip {
  &:focus {
    outline: none;
  }
}

.el-submenu__icon-arrow {
  .el-menu--collapse & {
    opacity: 0;
  }
}

// icon
.sidebar-icon(@url) {
  background: url(@url) no-repeat;
  height: 18px;
  margin-left: 3px;
}
.el-icon- {
  &admin {
    .sidebar-icon("../images/icon/admin.png");
  }
  &depart {
    .sidebar-icon("../images/icon/school.png");
  }
  &user {
    .sidebar-icon("../images/icon/user.png");
  }
}

/*******************后台样式********************/
// 公共部分
// 列表页
.disp-flex {
  cursor: pointer;
  display: inline-flex;
}
.listWarp2 {
  display: inline-block;
  margin: 10px 0 20px;
  width: 100%;
  .listPage {
    float: right;
    line-height: 2;
  }
}

// 选项卡
.el-tabs--card {
  & > .el-tabs__header {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 888;
    .el-tabs__ {
      &nav {
        border: none;
      }
      &item {
        &:hover {
          color: @default_color;;
        }
        &.is-active {
          background: #f2f2f2;
          border-bottom: none;
          color: @default_color;
        }
      }
    }
  }
  & > .el-tabs__content {
    margin-top: 50px;
    padding: 20px;
  }
}
// 列表
.el-table {
  th, td {
    text-align: center !important;
  }
}

.rowClass {
  height: 100px;
}

.errorMsg {
  color: #dd6161;
}

.el-checkbox__input.is-indeterminate {
  .el-checkbox__inner {
    background-color: @default_color !important;
    border-color: @default_color !important;
  }
}

.el-checkbox__inner {
  &:hover, .el-checkbox__input.is-focus & {
    border-color: @default_color !important;
  }
  .el-checkbox__input.is-checked & {
    background-color: @default_color !important;
    border-color: @default_color !important;
  }
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: @default_color !important;
}

.cell {
  display: -webkit-box;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  i {
    cursor: pointer;
    margin-right: 5px;
  }
}

// 按钮
.el-button {
  &:active,
  &:focus,
  &:hover {
    color: @default_color !important;
    border-color: @default_color !important;
  }
}

.el-button--primary {
  background-color: @default_color !important;
  border-color: @default_color !important;
  &:focus,
  &:hover{
    color: white !important;
  }
}

.el-button--danger {
  &:focus,
  &:hover{
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
    color: white !important;
  }
}

// 对话框
.el-dialog__headerbtn:hover .el-dialog__close {
  color: @default_color !important;
}

// 分页
.el-pagination.is-background {
  .el-pager {
    li {
      &:not(.disabled){
        &:hover {
          color: @default_color !important;
        }
        &.active {
          background-color: @default_color !important;
          color: white !important;
        }
      }
    }
  }
}

// 输入栏
.el-input__inner, .el-textarea__inner{
  &:focus {
    border-color: @default_color !important;
  }
}

// 上传
.el-upload {
  &&--picture-card {
    &:hover {
      border-color: @default_color;
    }
  }
  &:focus {
    &, .el-upload-dragger {
      border-color: @default_color !important;
    }
  }
}

.el-upload-dragger {
  border: none !important;
  height: 100% !important;
  width: 100% !important;
  &:hover {
    // border-color: @default_color !important;
  }
  em {
    color: @default_color !important;
  }
  .el-icon-upload {
    display: block;
    font-size: 24px !important;
    line-height: 1 !important;
    margin: 20px 0 0 !important;
  }
  .el-upload__text {
    display: inline-block;
    font-size: 6px !important;
    line-height: 40px;
  }
}

// 选择器
.el-select-dropdown__item.selected {
  color: @default_color !important;
}